name: Regression End-to-end tests
on: push
jobs:
  addtocart-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          command: npm run test:addToCart

      - name: Cypress Test Report-Add to Cart
        if: always()  #Test pass or fail report added
        uses: actions/upload-artifact@v4
        with:
          name: Mocha awsome reporter-Add to cart
          path: cypress/reports/html

  register-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          command: npm run test:registerflow

      - name: Cypress Test Report-Registration
        if: always()  #Test pass or fail report added
        uses: actions/upload-artifact@v4
        with:
          name: Mocha awsome reporter-Registration
          path: cypress/reports/html